[~/srcSTW/syntax_highlighting(withoutdm)]$ cat views/new.erb 
<div class="snippet">
  <form action="/" method="POST">
    <textarea name="body" id="body" rows="20"></textarea>
    <br/><input type="submit" value="Save"/>
  </form>
</div>