<div class="snippet">
  <center>
    <form action="/" method="POST">
      <textarea name="code" id="code" rows="20"></textarea> <br>
      <input type="radio" name="lang" value="ruby">Ruby <br>
      <input type="radio" name="lang" value="xml">XML <br>
      <input type="radio" name="lang" value="yaml">YAML
      <br/><input type="submit" value="Save"/>
    </form>
  </center>
</div>
