<h2> "Syntax Highlighting Result" </h2>
<div class="snippet">
  <div class="snippet">
  <div class="sbody" id="content">
    <%= codehighlight.formatted_body(type)%>
  </div>
  <br/>
  <a href = '/'> New Code </a>
</div>