<center><h2> Syntax Highlighting Result </h2> </center>
<div class="snippet">
  <div class="snippet">
  <div class="sbody" id="content">
    <%= result.formatted_body(type)%>
  </div>
  <br/>
  <center><a href = '/'> New Code </a></center>
</div>
