<center>
<h2> Syntax Highlighting Result </h2>
<div class="snippet">
  <div class="snippet">
  </center>
  <div class="sbody" id="content">
    <%= result.formatted_body(type)%>
  </div>
  <br/>
  <center>
  <a href = '/'> New Code </a>
</div>
</center>